.att-buttons{
    margin: 10px;
    color: red;
    background: #000;
    vertical-align: middle;
}

h1{
    color: red;
}

.att-li{
     
}

.char-img{
    max-width: 15%;
}

.selected-char-img{
    display: inline-block;
    margin: 10px;
    max-width: 15%;
    border: 5px solid red;
    padding: 5px;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: 100;
}


.char-ul{
    font-size: large;
    border: 5px solid red;
 }

 @keyframes blinking {
    50% {
      border-color: white;
    }
}

#selected-character{
    color: blue;
}