#att-buttons{
    margin: 10px;
    color: red;
    background: #000;
}

h1{
    color: red;
}

/* .att-li{
    background-color: greenyellow;
} */



.char-ul{
    font-size: large;
   
   border: 5px solid red;
   /* animation-name: blinking;
   animation-duration: 2s;
   animation-iteration-count: 100; */
 }

 @keyframes blinking {
    50% {
      border-color: white;
    }
}