.att-buttons{
    margin: 10px;
    color: red;
    background: #000;
    vertical-align: middle;
}

h1{
    color: red;
}

.att-li{
    
   
}

.char-img{
    max-width: 15%;
    
}


.char-ul{
    font-size: large;
   
   border: 5px solid red;
  
 }

 @keyframes blinking {
    50% {
      border-color: white;
    }
}